.idea
node_modules
coverage
dist
.opt-in
.opt-out
.DS_Store
.env
yarn.lock
.eslintcache
.vscode
.vs
*.log
*.cache
.env
lerna-debug.log
packages/*/node_modules
packages/*/lib
packages/*/*.log
packages/*/dist
.env
